<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ubb.marp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

    <application
        android:icon="@drawable/luncher"
        android:label="@string/app_name" >
        <activity
            android:name=".ui.Login"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="TestActivity2"
            android:label="mas label" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.HelloTabActivity"
            android:label="TabActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.ProjectActivity"
            android:label="Projects" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.ResourcesActivity"
            android:label="Resources" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.MyAccountActivity"
            android:label="My Account" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.AssignmentsActivity"
            android:label="Assignments" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.NewProjectActivity"
            android:label="New project" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <provider
            android:name=".database.CProvider"
            android:authorities="edu.ubb.marp.database.provider" />

        <service android:name=".network.MyService" >
        </service>

        <activity android:name=".ui.StripeActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.ResourceActivity"
            android:label="Resource" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".ui.ModifyResourceReservation"
            android:label="ModifyResourceReservation" >
        </activity>
    </application>

</manifest>